@model BstEnvanter.WebUI.Models.DetailRamViewModel
@{
    ViewData["Title"] = "DetailRam";
    Layout = "~/Views/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="jumbotron jumbotron-fluid">
        <h1 class="display-4">@Model.ram.name List</h1>
        <hr />
    </div>
    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
        <a type="button" asp-action="detailram" asp-route-id="@Model.ram.id" class="btn btn-secondary">Product</a>
        <a type="button" asp-action="detailramatpersonel" asp-route-id="@Model.ram.id" class="btn btn-secondary">Personel</a>
        <a type="button" asp-action="detailramatcommon" asp-route-id="@Model.ram.id" class="btn btn-secondary">Commons</a>
        <a type="button" asp-action="addram" class="btn btn-secondary">Add A Ram</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Category</th>
                <th scope="col">Brand</th>
                <th scope="col">Model</th>
                <th scope="col">Serial No</th>
                <th scope="col">Inventory No</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model.status)
                {
                    @if (item.personelId == null && item.commonId == null)
                    {
                        <tr>

                            <td scope="col">@item.Product.Category.name</td>
                            <td scope="col">@item.Product.Brand.name</td>
                            <td scope="col">@item.Product.Model.name</td>
                            <td scope="col">@item.Product.serialNo</td>
                            <td scope="col">@item.Product.inventoryNo</td>
                            <td scope="col">
                                <a class="btn btn-warning" asp-controller="editor" asp-action="UpdateProduct" asp-route-id="@item.productId">Update </a>
                            </td>
                            <td scope="col">
                                <a class="btn btn-danger" asp-controller="editor" asp-action="DeleteProduct" asp-route-id="@item.id" asp-route-productId="@item.productId">Delete</a>
                            </td>
                            <td scope="col">
                                <a class="btn btn-info" asp-controller="editor" asp-action="DetailProduct" asp-route-id="@item.id">Detail</a>
                            </td>
                            <td scope="col">
                                <a class="btn btn-info" asp-controller="editor" asp-action="addproductatpersonel" asp-route-id="@item.id">Add to Personel</a>
                            </td>
                            <td scope="col">
                                <a class="btn btn-info" asp-controller="editor" asp-action="addcommon" asp-route-id="@item.id">Add to Common</a>
                            </td>

                        </tr>
                    }
                }
            }
        </tbody>
    </table>
    <div class="text-end">
        <a class="btn btn-primary col-md-2" onClick="history.go(-1); return false;">Back</a>
    </div>
</div>


