@model BstEnvanter.WebUI.Models.UpdateProductViewModel
@{
    ViewData["Title"] = "DetailProduct";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="jumbotron jumbotron-fluid">
        <h1 class="display-4">Product Details</h1>
        <hr />
    </div>
    <div class="row">
        <div class="row col-md-12">
            @if (Model.status.personelId == null && Model.status.commonId == null)
            {
                <div class=" border col-md-6 rounded">

                    <div class="row bg-primary">
                        <h3 class="pt-3 text-light">Product Details</h3>
                    </div>
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <td>Name:</td>
                                <td>@Model.status.Product.name</td>
                            </tr>
                            <tr>
                                <td>Category:</td>
                                <td>@Model.status.Product.Category.name</td>
                            </tr>
                            <tr>
                                <td>Brand:</td>
                                <td>@Model.status.Product.Brand.name</td>
                            </tr>
                            <tr>
                                <td>Model:</td>
                                <td>@Model.status.Product.Model.name</td>
                            </tr>
                            <tr>
                                <td>Serial No:</td>
                                <td>@Model.status.Product.serialNo</td>
                            </tr>
                            <tr>
                                <td>Inventory No:</td>

                                <td>@Model.status.Product.inventoryNo</td>
                            </tr>

                            <tr>
                                <td>Cpu:</td>

                                @if (Model.status.Product.cpuId != null)
                                {
                                    <td>@Model.status.Product.Cpu.name</td>
                                }

                            </tr>
                            <tr>
                                <td>Gpu:</td>
                                @if (Model.status.Product.gpuId != null)
                                {
                                    <td>@Model.status.Product.Gpu.name</td>
                                }
                            </tr>
                            <tr>

                                <td>Ram:</td>
                                @if (Model.status.Product.ramId != null)
                                {
                                    <td>@Model.status.Product.Ram.name</td>
                                }
                            </tr>
                            <tr>
                                <td>Hard Drive:</td>
                                @if (Model.status.Product.hardDriveId != null)
                                {
                                    <td>@Model.status.Product.HardDrive.name</td>
                                }
                            </tr>

                        </tbody>
                    </table>
                </div>

                {
                    if (Model.user != null)
                    {
                        <div class="border border-rounded col-md-6 rounded">
                            <div class="row bg-primary">
                                <h3 class="pt-3 text-light">Specialist Details</h3>
                            </div>
                            <table class="table table-borderless">
                                <tbody>
                                    <tr>
                                        <td>Name:</td>
                                        <td>@Model.user.name</td>
                                    </tr>
                                    <tr>
                                        <td>Surname:</td>
                                        <td>@Model.user.surname</td>
                                    </tr>
                                    <tr>
                                        <td>Age:</td>
                                        <td>@Model.user.age</td>
                                    </tr>
                                    <tr>
                                        <td>Gender:</td>
                                        <td>@Model.user.gender</td>
                                    </tr>
                                    <tr>
                                        <td>Department:</td>
                                        <td>@Model.user.department</td>
                                    </tr>
                                    <tr>
                                        <td>Location:</td>
                                        <td>@Model.user.roomNo</td>
                                    </tr>
                                    <tr>
                                        <td>E-Mail:</td>
                                        <td>@Model.user.Email</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    }
                    else
                    {
                        <div class="border border-rounded col-md-6 rounded">
                            <div class="row bg-primary">
                                <h3 class="pt-3 text-light">Specialist Details</h3>
                            </div>
                            <table class="table table-borderless">
                                <tbody>
                                    <tr>
                                        <td>Name:</td>
                                        @*<td>@Model.status.Personel.name</td>*@
                                    </tr>
                                    <tr>
                                        <td>Surname:</td>
                                        @*<td>@Model.status.Personel.surname</td>*@
                                    </tr>
                                    <tr>
                                        <td>Age:</td>
                                        @*<td>@Model.status.Personel.age</td>*@
                                    </tr>
                                    <tr>
                                        <td>Gender:</td>
                                        @*<td>@Model.status.Personel.Sex.name</td>*@
                                    </tr>
                                    <tr>
                                        <td>Department:</td>
                                        @*<td>@Model.status.Personel.Department.name</td>*@
                                    </tr>
                                    <tr>
                                        <td>Location:</td>
                                        @*<td>@Model.status.Personel.roomNo</td>*@
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    }
                }
                <div class="col-md-12 border border-rounded  rounded">
                    <div class="row bg-primary">
                        <h3 class="pt-3 text-light">Status Details</h3>
                    </div>
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <td>Definition:</td>
                                <td>@Model.status.definition</td>
                            </tr>
                            <tr>
                                <td>Campus:</td>
                                <td>@Model.status.Campus.name</td>
                            </tr>
                            <tr>
                                <td>Date of Update:</td>
                                <td>@Model.status.dateOfUpdate</td>
                            </tr>
                            <tr>
                                <td>Bst Id:</td>
                                <td>@Model.status.bstId</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-end mt-2 pb-3">
                        @if (Model.status.serviceId == null)
                        {
                            <a class="btn btn-success" asp-controller="editor" asp-action="addservice" asp-route-id="@Model.status.id">Add to Service</a>
                        }
                        @if (Model.status.serviceId != null)
                        {
                            <a class="btn btn-dark" asp-controller="editor" asp-action="deleteservice" asp-route-id="@Model.status.serviceId">Close Service Case</a>
                            <a class="btn btn-info" asp-controller="editor" asp-action="updateservice" asp-route-id="@Model.status.id">Update Service Case</a>
                            <a class="btn btn-info" asp-controller="editor" asp-action="Detailservice" asp-route-id="@Model.status.id">Detail Service Case</a>

                        }
                        <a class="btn btn-primary" asp-controller="editor" asp-action="addproductatpersonel" asp-route-id="@Model.status.id">Add to Personel</a>
                        <a class="btn btn-primary" asp-controller="editor" asp-action="addcommon" asp-route-id="@Model.status.id">Add to Common</a>
                        <a class="btn text-end text-light" style="background-color:#455A64" asp-controller="editor" asp-action="updateproduct" asp-route-id="@Model.status.productId">Update </a>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Delete
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body text-start">
                                        Are you sure to delete? This action cannot be undone!
                                    </div>
                                    <div class="modal-footer">
                                        <a class="btn btn-danger" asp-controller="editor" asp-action="deleteproduct" asp-route-id="@Model.status.id" asp-route-productId="@Model.status.productId">Delete</a>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="btn text-end btn-secondary" asp-controller="editor" onClick="history.go(-1); return false;">Back</a>
                    </div>
                </div>
            }
            @if (Model.status.personelId != null && Model.status.commonId == null)
            {
                <div class=" border col-md-4 rounded">

                    <div class="row bg-primary">
                        <h3 class="pt-3 text-light">Product Details</h3>
                    </div>
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <td>Name:</td>
                                <td>@Model.status.Product.name</td>
                            </tr>
                            <tr>
                                <td>Category:</td>
                                <td>@Model.status.Product.Category.name</td>
                            </tr>
                            <tr>
                                <td>Brand:</td>
                                <td>@Model.status.Product.Brand.name</td>
                            </tr>
                            <tr>
                                <td>Model:</td>
                                <td>@Model.status.Product.Model.name</td>
                            </tr>
                            <tr>
                                <td>Serial No:</td>
                                <td>@Model.status.Product.serialNo</td>
                            </tr>
                            <tr>
                                <td>Inventory No:</td>
                                <td>@Model.status.Product.inventoryNo</td>
                            </tr>
                            <tr>
                                <td>Cpu:</td>

                                @if (Model.status.Product.cpuId != null)
                                {
                                    <td>@Model.status.Product.Cpu.name</td>
                                }

                            </tr>
                            <tr>
                                <td>Gpu:</td>
                                @if (Model.status.Product.gpuId != null)
                                {
                                    <td>@Model.status.Product.Gpu.name</td>
                                }
                            </tr>
                            <tr>

                                <td>Ram:</td>
                                @if (Model.status.Product.ramId != null)
                                {
                                    <td>@Model.status.Product.Ram.name</td>
                                }
                            </tr>
                            <tr>
                                <td>Hard Drive:</td>
                                @if (Model.status.Product.hardDriveId != null)
                                {
                                    <td>@Model.status.Product.HardDrive.name</td>
                                }
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="border border-rounded col-md-4 rounded">
                    <div class="row bg-primary">
                        <h3 class="pt-3 text-light">Personel Details</h3>
                    </div>
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <td>Name:</td>
                                <td>@Model.status.Personel.name</td>
                            </tr>
                            <tr>
                                <td>Surname:</td>
                                <td>@Model.status.Personel.surname</td>
                            </tr>
                            <tr>
                                <td>Age:</td>
                                <td>@Model.status.Personel.age</td>
                            </tr>
                            <tr>
                                <td>Gender:</td>
                                <td>@Model.status.Personel.Sex.name</td>
                            </tr>
                            <tr>
                                <td>Department:</td>
                                <td>@Model.status.Personel.Department.name</td>
                            </tr>
                            <tr>
                                <td>E-Mail:</td>
                                <td>@Model.status.Personel.eMail</td>
                            </tr>
                            <tr>
                                <td>Location:</td>
                                <td>@Model.status.Personel.CLocation.name</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="border border-rounded col-md-4 rounded">
                    <div class="row bg-primary">
                        <h3 class="pt-3 text-light">Specialist Details</h3>
                    </div>
                    @{
                        if (Model.user != null)
                        {
                            <table class="table table-borderless">
                                <tbody>
                                    <tr>
                                        <td>Name:</td>
                                        <td>@Model.user.name</td>
                                    </tr>
                                    <tr>
                                        <td>Surname:</td>
                                        <td>@Model.user.surname</td>
                                    </tr>
                                    <tr>
                                        <td>Age:</td>
                                        <td>@Model.user.age</td>
                                    </tr>
                                    <tr>
                                        <td>Gender:</td>
                                        <td>@Model.user.gender</td>
                                    </tr>
                                    <tr>
                                        <td>Department:</td>
                                        <td>@Model.user.department</td>
                                    </tr>
                                    <tr>
                                        <td>Location:</td>
                                        <td>@Model.user.roomNo</td>
                                    </tr>
                                    <tr>
                                        <td>E-Mail:</td>
                                        <td>@Model.user.Email</td>
                                    </tr>

                                </tbody>
                            </table>
                        }
                        else
                        {
                            <table class="table table-borderless">
                                <tbody>
                                    <tr>
                                        <td>Name:</td>
                                        @*<td>@Model.status.Personel.name</td>*@
                                    </tr>
                                    <tr>
                                        <td>Surname:</td>
                                        @*<td>@Model.status.Personel.surname</td>*@
                                    </tr>
                                    <tr>
                                        <td>Age:</td>
                                        @*<td>@Model.status.Personel.age</td>*@
                                    </tr>
                                    <tr>
                                        <td>Gender:</td>
                                        @*<td>@Model.status.Personel.Sex.name</td>*@
                                    </tr>
                                    <tr>
                                        <td>Department:</td>
                                        @*<td>@Model.status.Personel.Department.name</td>*@
                                    </tr>
                                    <tr>
                                        <td>Location:</td>
                                        @*<td>@Model.status.Personel.roomNo</td>*@
                                    </tr>
                                </tbody>
                            </table>
                        }
                    }

                </div>
                <div class="col-md-12 border border-rounded  rounded">
                    <div class="row bg-primary">
                        <h3 class="pt-3 text-light">Status Details</h3>
                    </div>
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <td>Definition:</td>
                                <td>@Model.status.definition</td>
                            </tr>
                            <tr>
                                <td>Campus:</td>
                                <td>@Model.status.Campus.name</td>
                            </tr>
                            <tr>
                                <td>Date of Update:</td>
                                <td>@Model.status.dateOfUpdate</td>
                            </tr>
                            <tr>
                                <td>Bst Id:</td>
                                <td>@Model.status.bstId</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-end mt-2 pb-3">
                        @if (Model.status.serviceId == null)
                        {
                            <a class="btn btn-success" asp-controller="editor" asp-action="addservice" asp-route-id="@Model.status.id">Add to Service</a>

                        }
                        @if (Model.status.serviceId != null)
                        {
                            <a class="btn btn-dark" asp-controller="editor" asp-action="deleteservice" asp-route-id="@Model.status.serviceId">Close Service Case</a>
                            <a class="btn btn-info" asp-controller="editor" asp-action="updateservice" asp-route-id="@Model.status.id">Update Service Case</a>
                            <a class="btn btn-info" asp-controller="editor" asp-action="Detailservice" asp-route-id="@Model.status.id">Detail Service Case</a>

                        }
                        <a class="btn btn-primary" asp-controller="editor" asp-action="movetocommon" asp-route-id="@Model.status.id">Move to Common</a>
                        <a class="btn text-light" style="background-color:#455A64" asp-controller="editor" asp-action="UpdateProductatpersonel" asp-route-id="@Model.status.id">Update </a>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Delete
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body text-start">
                                        Are you sure to delete? This action cannot be undone!
                                    </div>
                                    <div class="modal-footer">
                                        <a class="btn btn-danger" asp-controller="editor" asp-action="deleteproductatpersonel" asp-route-id="@Model.status.id" asp-route-productId="@Model.status.productId">Delete</a>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="btn text-end btn-secondary" asp-controller="editor" onClick="history.go(-1); return false;">Back</a>
                    </div>
                </div>

            }
            @if (Model.status.commonId != null)
            {
                <div class=" border col-md-4 rounded">

                    <div class="row bg-primary">
                        <h3 class="pt-3 text-light">Product Details</h3>
                    </div>
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <td>Name:</td>
                                <td>@Model.status.Product.name</td>
                            </tr>
                            <tr>
                                <td>Category:</td>
                                <td>@Model.status.Product.Category.name</td>
                            </tr>
                            <tr>
                                <td>Brand:</td>
                                <td>@Model.status.Product.Brand.name</td>
                            </tr>
                            <tr>
                                <td>Model:</td>
                                <td>@Model.status.Product.Model.name</td>
                            </tr>
                            <tr>
                                <td>Serial No:</td>
                                <td>@Model.status.Product.serialNo</td>
                            </tr>
                            <tr>
                                <td>Inventory No:</td>
                                <td>@Model.status.Product.inventoryNo</td>
                            </tr>
                            <tr>
                                <td>Cpu:</td>

                                @if (Model.status.Product.cpuId != null)
                                {
                                    <td>@Model.status.Product.Cpu.name</td>
                                }

                            </tr>
                            <tr>
                                <td>Gpu:</td>
                                @if (Model.status.Product.gpuId != null)
                                {
                                    <td>@Model.status.Product.Gpu.name</td>
                                }
                            </tr>
                            <tr>

                                <td>Ram:</td>
                                @if (Model.status.Product.ramId != null)
                                {
                                    <td>@Model.status.Product.Ram.name</td>
                                }
                            </tr>
                            <tr>
                                <td>Hard Drive:</td>
                                @if (Model.status.Product.hardDriveId != null)
                                {
                                    <td>@Model.status.Product.HardDrive.name</td>
                                }
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="border border-rounded col-md-4 rounded">
                    <div class="row bg-primary">
                        <h3 class="pt-3 text-light">Common Details</h3>
                    </div>
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <td>Department:</td>
                                <td>@Model.status.Common.department.name</td>
                            </tr>
                            <tr>
                                <td>Location:</td>
                                <td>@Model.status.Common.CLocation.name</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="border border-rounded col-md-4 rounded">
                    <div class="row bg-primary">
                        <h3 class="pt-3 text-light">Specialist Details</h3>
                    </div>
                    @{
                        if (Model.user != null)
                        {
                            <table class="table table-borderless">
                                <tbody>
                                    <tr>
                                        <td>Name:</td>
                                        <td>@Model.user.name</td>
                                    </tr>
                                    <tr>
                                        <td>Surname:</td>
                                        <td>@Model.user.surname</td>
                                    </tr>
                                    <tr>
                                        <td>Age:</td>
                                        <td>@Model.user.age</td>
                                    </tr>
                                    <tr>
                                        <td>Gender:</td>
                                        <td>@Model.user.gender</td>
                                    </tr>
                                    <tr>
                                        <td>Department:</td>
                                        <td>@Model.user.department</td>
                                    </tr>
                                    <tr>
                                        <td>Location:</td>
                                        <td>@Model.user.roomNo</td>
                                    </tr>
                                    <tr>
                                        <td>E-Mail:</td>
                                        <td>@Model.user.Email</td>
                                    </tr>

                                </tbody>
                            </table>
                        }
                        else
                        {
                            <table class="table table-borderless">
                                <tbody>
                                    <tr>
                                        <td>Name:</td>
                                        @*<td>@Model.status.Personel.name</td>*@
                                    </tr>
                                    <tr>
                                        <td>Surname:</td>
                                        @*<td>@Model.status.Personel.surname</td>*@
                                    </tr>
                                    <tr>
                                        <td>Age:</td>
                                        @*<td>@Model.status.Personel.age</td>*@
                                    </tr>
                                    <tr>
                                        <td>Gender:</td>
                                        @*<td>@Model.status.Personel.Sex.name</td>*@
                                    </tr>
                                    <tr>
                                        <td>Department:</td>
                                        @*<td>@Model.status.Personel.Department.name</td>*@
                                    </tr>
                                    <tr>
                                        <td>Location:</td>
                                        @*<td>@Model.status.Personel.roomNo</td>*@
                                    </tr>
                                </tbody>
                            </table>
                        }
                    }
                </div>
                <div class="col-md-12 border border-rounded rounded">
                    <div class="row bg-primary">
                        <h3 class="pt-3 text-light">Status Details</h3>
                    </div>
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <td>Definition:</td>
                                <td>@Model.status.definition</td>
                            </tr>
                            <tr>
                                <td>Campus:</td>
                                <td>@Model.status.Campus.name</td>
                            </tr>
                            <tr>
                                <td>Date of Update:</td>
                                <td>@Model.status.dateOfUpdate</td>
                            </tr>
                            <tr>
                                <td>Bst Id:</td>
                                <td>@Model.status.bstId</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-end mt-2 pb-3">
                        @if (Model.status.serviceId == null)
                        {
                            <a class="btn btn-success" asp-controller="editor" asp-action="addservice" asp-route-id="@Model.status.id">Add to Service</a>
                        }
                        @if (Model.status.serviceId != null)
                        {
                            <a class="btn btn-dark" asp-controller="editor" asp-action="deleteservice" asp-route-id="@Model.status.serviceId">Close Service Case</a>
                            <a class="btn btn-info" asp-controller="editor" asp-action="updateservice" asp-route-id="@Model.status.id">Update Service Case</a>
                            <a class="btn btn-info" asp-controller="editor" asp-action="Detailservice" asp-route-id="@Model.status.id">Detail Service Case</a>
                        }
                        <a class="btn btn-primary" asp-controller="editor" asp-action="movetopersonel" asp-route-id="@Model.status.id">Move To Personel</a>
                        <a class="btn text-light" style="background-color:#455A64" asp-controller="editor" asp-action="updatecommon" asp-route-id="@Model.status.id">Update </a>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Delete
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body text-start">
                                        Are you sure to delete? This action cannot be undone!
                                    </div>
                                    <div class="modal-footer">
                                        <a class="btn btn-danger" asp-controller="editor" asp-action="DeleteProductAtCommon" asp-route-id="@Model.status.id" asp-route-commonId="@Model.status.commonId">Delete</a>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="btn text-end btn-secondary" asp-controller="editor" onClick="history.go(-1); return false;">Back</a>
                    </div>
                </div>

            }
        </div>
    </div>


</div>