@model BstEnvanter.WebUI.Models.ListBrandViewModel

@{
    ViewData["Title"] = "ListOfBrand";
    Layout = "~/Views/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="jumbotron jumbotron-fluid">
        <h1 class="display-4">Brand List</h1>
        <hr />
    </div>
    <a asp-action="addbrand" class="btn btn-secondary">Add A Brand</a>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Name</th>
            </tr>
        </thead>
        <tbody>

            @{
                foreach (var item in Model.brand)
                {
                    <tr>
                        <td scope="col">@item.id</td>
                        <td scope="col">@item.name</td>
                        <td scope="col">
                            <a class="btn btn-warning" asp-controller="editor" asp-action="UpdateBrand" asp-route-id="@item.id">Update </a>
                        </td>
                        <td scope="col">
                            <a class="btn btn-danger" asp-controller="editor" asp-action="deletebrand" asp-route-id="@item.id">Delete</a>
                        </td>
                        <td scope="col">
                            <a class="btn btn-primary" asp-controller="editor" asp-action="detailbrand" asp-route-id="@item.id">Detail</a>
                        </td>
                    </tr>
                }
            }


        </tbody>
    </table>

</div>
