@model BstEnvanter.WebUI.Models.ListOfProductAtCommon
@{
    ViewData["Title"] = "ListOfProductAtCommon";
    Layout = "~/Views/_Layout.cshtml";

}
<div class="container-fluid">
    <div class="jumbotron jumbotron-fluid">
        <h1 class="display-4">Ortak Ürün Listesi<a class="btn-primary rounded-circle" asp-controller="process" asp-action="exportexcel" asp-route-name="listofproductsatcommon" asp-route-exportName="Ortak_Ürün_Listesi"><i class="fs-1 bi bi-printer"></i></a></h1>
        <hr />
    </div>
    <div class="row">
        <div class="btn-group col-md-6 flex-column flex-sm-row" role="group" aria-label="Basic mixed styles example">
            <a type="button" asp-action="listofproduct" class="btn btn-secondary">Depo</a>
            <a type="button" asp-action="listofproductatpersonel" class="btn btn-secondary">Personel</a>
            <a type="button" asp-action="listofproductatcommon" class="btn btn-secondary">Ortak</a>
            <a type="button" asp-action="listofproductatservice" class="btn btn-secondary">Servis</a>
            <a type="button" asp-action="addproduct" class="btn btn-secondary">Yeni Ürün</a>
        </div>
    </div>
    <div class="row">
        <div class="list-group list-group-horizontal  flex-column flex-sm-row list-group-flush col-md-8">
            @*<li class="list-group-item">CATEGORIES</li>*@
            @foreach (var item in Model.category)
            {
                string css = "list-group-item list-group-item-action";
                if (Model.categoryId == item.id)
                {
                    css += " active";
                }
                <a type="button" class="@css" href="/editor/listofproductatcommon/@item.id">@item.name</a>
            }
            <a type="button" class="list-group-item list-group-item-action" href="/editor/listofproductatcommon/0">Hepsi</a>
        </div>
    </div>
    <div class="row mt-2">

        <div class="col-md-12">
            <div class="table-responsive-sm">
                <table id="productTableAtCommon" class="table align-middle table-hover table-sm">
                    <thead class="table-light">
                        <tr>
                            <th>Kategori</th>
                            <th>Marka</th>
                            <th>Model</th>
                            <th>Seri Numarası</th>
                            <th>Envanter Numarası</th>
                            <th>Departman</th>
                            <th>Lokasyon</th>
                            <th>Detay</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var item in Model.status)
                            {
                                string cls = "arama";

                                if (item.serviceId != null)
                                {
                                    cls += " table-danger";
                                }
                                @if (item.personelId == null && item.commonId != null)
                                {
                                    <tr class="@cls">

                                        @if (item.Product.categoryId != null)
                                        {
                                            <td>@item.Product.Category.name</td>

                                        }
                                        @if (item.Product.categoryId == null)
                                        {
                                            <td></td>
                                        }
                                        @if (item.Product.brandId != null)
                                        {
                                            <td>@item.Product.Brand.name</td>
                                        }
                                        @if (item.Product.brandId == null)
                                        {
                                            <td></td>
                                        }
                                        @if (item.Product.modelId != null)
                                        {
                                            <td>@item.Product.Model.name</td>

                                        }
                                        @if (item.Product.modelId == null)
                                        {
                                            <td></td>
                                        }
                                        <td scope="col">@item.Product.serialNo</td>
                                        <td scope="col">@item.Product.inventoryNo</td>
                                        @if (item.Common.departmentId != null)
                                        {
                                            <td scope="col">@item.Common.department.name</td>

                                        }
                                        @if (item.Common.departmentId == null)
                                        {
                                            <td></td>
                                        }
                                        @if (item.Common.cLocationId != null)
                                        {
                                            <td scope="col">@item.Common.CLocation.name</td>

                                        }
                                        @if (item.Common.cLocationId == null)
                                        {
                                            <td></td>
                                        }
                                        <td scope="col">
                                            <a class="btn btn-secondary" asp-controller="editor" asp-action="DetailProduct" asp-route-id="@item.id">Detay</a>
                                        </td>

                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>


        </div>
    </div>


</div>
<script src="~/js/listofproductatcommon.js" type="text/javascript"></script>

