@model BstEnvanter.WebUI.Models.ListOfProductViewModel
@{
    ViewData["Title"] = "ListOfProduct";
    Layout = "~/Views/_Layout.cshtml";
}
<div class="container-fluid ">
    <div class="jumbotron jumbotron-fluid">
        <h1 class="display-4">Ürün Listesi</h1>
        <hr />
    </div>
    <div class="row">
        <div class="btn-group  col-md-6 flex-column flex-sm-row" role="group" aria-label="Basic mixed styles example">
            <a type="button" asp-action="listofproduct" class="btn btn-secondary">Depo</a>
            <a type="button" asp-action="listofproductatpersonel" class="btn btn-secondary">Personel</a>
            <a type="button" asp-action="listofproductatcommon" class="btn btn-secondary">Ortak</a>
            <a type="button" asp-action="listofproductatservice" class="btn btn-secondary">Servis</a>
            <a type="button" asp-action="addproduct" class="btn btn-secondary">Yeni Ürün</a>
        </div>

    </div>
    <div class="row">
        <div class="list-group-horizontal list-group list-group-flush flex-column flex-sm-row col-md-8">
            @foreach (var item in Model.category)
            {
                string css = "list-group-item list-group-item-action";
                if (Model.categoryId == item.id)
                {
                    css += " active";
                }
                <a type="button" class="@css" href="/editor/listofproduct/@item.id">@item.name</a>
            }
            <a type="button" class="list-group-item list-group-item-action" href="/editor/listofproduct/0">Hepsi</a>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-12">
            <div class="table-responsive">
                <table id="myTable" class="table align-middle table-hover table-sm">
                    <thead class="table-light">
                        <tr>
                            <th>Kategori</th>
                            <th>Marka</th>
                            <th>Model</th>
                            <th>Seri Numarası</th>
                            <th>Envanter Numarası</th>
                            <th>Detay</th>
                        </tr>

                    </thead>
                    <tbody>
                        @{
                            foreach (var item in Model.product)
                            {
                                string cls = "arama";

                                if (item.serviceId != null)
                                {
                                    cls += " table-danger";
                                }
                                @if (item.personelId == null && item.commonId == null)
                                {
                                    <tr class="@cls">
                                        @if (item.Product.categoryId != null)
                                        {
                                            <td>@item.Product.Category.name</td>

                                        }
                                        @if (item.Product.categoryId == null)
                                        {
                                            <td></td>
                                        }
                                        @if (item.Product.brandId != null)
                                        {
                                            <td>@item.Product.Brand.name</td>
                                        }
                                        @if (item.Product.brandId == null)
                                        {
                                            <td></td>
                                        }
                                        @if (item.Product.modelId != null)
                                        {
                                            <td>@item.Product.Model.name</td>

                                        }
                                        @if (item.Product.modelId == null)
                                        {
                                            <td></td>
                                        }
                                        <td>@item.Product.serialNo</td>
                                        <td>@item.Product.inventoryNo</td>

                                        <td>
                                            <a class="btn btn-info" asp-controller="editor" asp-action="DetailProduct" asp-route-id="@item.id">Detay</a>
                                        </td>


                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>


    </div>

</div>
<script src="~/js/listofproduct.js" type="text/javascript"></script>
@*<script src="~/lib/jquery/jquery.min.js"></script>*@
@*<script>
    $(document).ready(function() {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1)
                return true;
        }
        $("#search").keyup(function() {
            var searchText = $("#search").val().toLowerCase();
            $(".arama").each(function() {
                if (!Contains($(this).text().toLowerCase(), searchText)) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });
        });
    });
</script>*@