@model BstEnvanter.WebUI.Models.ListOfProductAtServiceViewModel
@{
    ViewData["Title"] = "ListOfProductAtService";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="jumbotron jumbotron-fluid">
        <h1 class="display-4">Service Product List</h1>
        <hr />
    </div>
    <div class="row">
        <div class="btn-group col-md-6 flex-column flex-sm-row" role="group" aria-label="Basic mixed styles example">
            <a type="button" asp-action="listofproduct" class="btn btn-secondary">Product</a>
            <a type="button" asp-action="listofproductatpersonel" class="btn btn-secondary">Personel</a>
            <a type="button" asp-action="listofproductatcommon" class="btn btn-secondary">Commons</a>
            <a type="button" asp-action="listofproductatservice" class="btn btn-secondary">Service</a>
            <a type="button" asp-action="addproduct" class="btn btn-secondary">Add A Product</a>
        </div>
    </div>
    <div class="row">
        <div class="list-group list-group-horizontal  flex-column flex-sm-row list-group-flush col-md-8">
            @foreach (var item in Model.category)
            {
                string css = "list-group-item list-group-item-action";
                if (Model.categoryId == item.id)
                {
                    css += " active";
                }
                <a type="button" class="@css" href="/editor/listofproductatservice/@item.id">@item.name</a>
            }
            <a type="button" class="list-group-item list-group-item-action" href="/editor/listofproductatservice/0">All</a>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-12">
            <div class="table-responsive">
                <table id="productTableAtService" class="table align-middle table-hover table-sm">
                    <thead class="table-light">
                        <tr>
                            <th scope="col">Category</th>
                            <th scope="col">Brand</th>
                            <th scope="col">Model</th>
                            <th scope="col">Serial No</th>
                            <th scope="col">Inventory No</th>
                            <th scope="col">Settings</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var item in Model.status)
                            {
                                string cls = "arama";

                                if (item.serviceId != null)
                                {
                                    cls += " table-danger";
                                }
                                if (item.serviceId != null)
                                {
                                    <tr class="@cls">

                                        <td scope="col">@item.Product.Category.name</td>
                                        <td scope="col">@item.Product.Brand.name</td>
                                        <td scope="col">@item.Product.Model.name</td>
                                        <td scope="col">@item.Product.serialNo</td>
                                        <td scope="col">@item.Product.inventoryNo</td>
                                        <td scope="col">
                                            <a class="btn btn-info" asp-controller="editor" asp-action="DetailProduct" asp-route-id="@item.id">Detail</a>
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>
<script src="~/js/productTableAtService.js" type="text/javascript"></script>
