@model BstEnvanter.WebUI.Models.UpdateProductViewModel
@{
    ViewData["Title"] = "UpdateProduct";
    Layout = "~/Views/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="jumbotron jumbotron-fluid">
        <h1 class="display-4">Ürün Güncelle</h1>
        <hr />
    </div>
    <form method="post" asp-action="updateproduct" class="col-md-8 p-3 mb-3 border rounded" enctype="multipart/form-data">
        <div class="form-group mb-3 row">
            <label for="inputImg" class="col-md-2 col-form-label">Resim Bilgileri</label>
            <div class="col-md-10">
                <input id="inputImg" asp-for="formFile" type="file" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label for="inputCategory" class="col-md-2 col-form-label">Kategori</label>
            <div class="col-md-10 search_select_box">
                <select asp-for="status.Product.categoryId" data-size="5" id="inputCategory" class="col-md-12 form-control border rounded" data-live-search="true" data-live-search-normalize="true" data-size="5">
                    @foreach (var item in Model.category)
                    {
                        <option value="@item.id">@item.name</option>
                    }
                </select>
                <span class="text-danger" asp-validation-for="status.Product.categoryId"></span>
                <div class="text-end">
                    <a asp-action="addcategory">add a new category</a>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="inputBrand" class="col-md-2 col-form-label">Marka</label>
            <div class="col-md-10">
                <select asp-for="status.Product.brandId" data-size="5" class="form-control" asp-items="@(new SelectList(Model.brand,"id","name"))"></select>
                <span class="text-danger" asp-validation-for="status.Product.brandId"></span>
                <div class="text-end">
                    <a class="ml-3" asp-action="addbrand">yeni bir marka ekle</a>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="inputModel" class="col-md-2 col-form-label">Model</label>
            <div class="col-md-10">
                <select id="inputModel" asp-for="status.Product.modelId" data-size="5" class="form-control" asp-items="@(new SelectList(Model.model,"id","name"))"></select>
                <div class="text-end">
                    <a class="ml-3" asp-action="addmodel">yeni bir model ekle</a>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-2 col-form-label" for="inputName">Ürün Adı</label>
            <div class="col-md-10">
                <input id="inputName" asp-for="status.Product.name" class="form-control" type="text" placeholder="@Model.status.Product.name" />
                <span class="text-danger" asp-validation-for="status.Product.name"></span>
            </div>
        </div>
        <div class="form-group row pt-4">
            <label for="inputCampus" class="col-md-2 col-form-label">Yerleşke</label>
            <div class="col-md-10">
                <select id="inputCampus" asp-for="status.campusId" class="form-control" asp-items="@(new SelectList(Model.campus,"id","name"))"></select>
            </div>
        </div>
        <div class="form-group row pt-4">
            <label class="col-md-2 col-form-label" for="inputSerialNo">Seri Numarası</label>
            <div class="col-md-10">
                <input type="text" class="form-control" asp-for="status.Product.serialNo" placeholder="@Model.status.Product.serialNo" />
                <span class="text-danger" asp-validation-for="status.Product.serialNo"></span>
            </div>
        </div>
        <div class="form-group row pt-4">
            <label class="col-md-2 col-form-label" for="inputInventoryNo">Envanter Numarası</label>
            <div class="col-md-10">
                <input type="text" id="inputInventoryNo" class="form-control" asp-for="status.Product.inventoryNo" placeholder="@Model.status.Product.inventoryNo" />
                <span class="text-danger" asp-validation-for="status.Product.inventoryNo"></span>
            </div>
        </div>
        <div class="form-group row pt-4">
            <label for="inputCpu" class="col-md-2 col-form-label">İşlemci</label>
            <div class="col-md-10">
                <select id="inputCpu" asp-for="status.Product.cpuId" data-size="5" class="form-select" asp-items="@(new SelectList(Model.cpu,"id","name"))"></select>
                <div class="text-end">
                    <a class="ml-3" asp-action="addcpu">yeni bir işlemci ekle</a>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputGpu" class="col-md-2 col-form-label">Ekran Kartı</label>
            <div class="col-md-10">
                <select id="inputGpu" asp-for="status.Product.gpuId" data-size="5" class="form-select" asp-items="@(new SelectList(Model.gpu,"id","name"))"></select>
                <div class="text-end">
                    <a class="ml-3" asp-action="addgpu">yeni bir ekran kartı ekle</a>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputRam" class="col-md-2 col-form-label">Ram</label>
            <div class="col-md-10">
                <select id="inputRam" asp-for="status.Product.ramId" data-size="5" class="form-select" asp-items="@(new SelectList(Model.ram,"id","name"))"></select>
                <div class="text-end">
                    <a class="ml-3" asp-action="addram">yeni bir ram ekle</a>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputHdd" class="col-md-2 col-form-label">Sabit Disk</label>
            <div class="col-md-10">
                <select id="inputHdd" asp-for="status.Product.hardDriveId" data-size="5" class="form-select" asp-items="@(new SelectList(Model.hardDrive,"id","name"))"></select>
                <div class="text-end">
                    <a class="ml-3" asp-action="addharddrive">yeni bir sabit disk ekle</a>
                </div>
            </div>
        </div>

        <div class="mt-1 text-end">
            <input type="hidden" asp-for="status.id" />
            <input type="hidden" asp-for="status.Product.imgName" value="@Model.status.Product.imgName">
            <input type="hidden" asp-for="status.Product.id" />
            <input type="hidden" asp-for="status.dateOfUpdate" value="@DateTime.Today" />
            <input type="hidden" asp-for="status.definition" value="@Model.status.definition" />
            <input type="hidden" asp-for="status.serviceId" value="@Model.status.serviceId" />
            <button class="btn btn-primary col-md-2">Güncelle</button>
            <a class="btn text-white col-md-2" style="background-color:#607D8B" asp-action="detailproduct" asp-route-id="@Model.status.id">Geri</a>
        </div>

    </form>
</div>