@model BstEnvanter.WebUI.Models.UpdateProductViewModel
@{
    ViewData["Title"] = "UpdateProduct";
    Layout = "~/Views/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="jumbotron jumbotron-fluid">
        <h1 class="display-4">Update a Product</h1>
        <hr />
    </div>
    <form method="post" asp-action="updateproduct" class="col-md-8 p-3 mb-3 border rounded">

        <div class="form-group row">
            <label for="inputCategory" class="col-md-2 col-form-label">Category</label>
            <div class="col-md-10">
                <select asp-for="product.categoryId" id="inputCategory" class="form-control" asp-items="@(new SelectList(Model.category,"id","name"))"></select>
                <span asp-validation-for="product.categoryId"></span>
                <div class="text-end">
                    <a asp-action="addcategory">add a new category</a>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="inputBrand" class="col-md-2 col-form-label">Brand</label>
            <div class="col-md-10">
                <select asp-for="product.brandId" class="form-control" asp-items="@(new SelectList(Model.brand,"id","name"))"></select>
                <span asp-validation-for="product.brandId"></span>
                <div class="text-end">
                    <a class="ml-3" asp-action="addbrand">add a new brand</a>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="inputModel" class="col-md-2 col-form-label">Model</label>
            <div class="col-md-10">
                <select id="inputModel" asp-for="product.modelId" class="form-control" asp-items="@(new SelectList(Model.model,"id","name"))"></select>
                <div class="text-end">
                    <a class="ml-3" asp-action="addmodel">add a new model</a>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-2 col-form-label" for="inputName">Name</label>
            <div class="col-md-10">
                <input id="inputName" asp-for="product.name" class="form-control" type="text" placeholder="@Model.product.name" />
                <span asp-validation-for="product.name"></span>
            </div>
        </div>

        <div class="form-group row pt-4">
            <label class="col-md-2 col-form-label" for="inputSerialNo">Serial Number</label>
            <div class="col-md-10">
                <input type="text" class="form-control" asp-for="product.serialNo" placeholder="@Model.product.serialNo" />
                <span asp-validation-for="product.serialNo"></span>
            </div>
        </div>
        <div class="form-group row pt-4">
            <label class="col-md-2 col-form-label" for="inputInventoryNo">Inventory Number</label>
            <div class="col-md-10">
                <input type="text" id="inputInventoryNo" class="form-control" asp-for="product.inventoryNo" placeholder="@Model.product.inventoryNo" />
                <span asp-validation-for="product.inventoryNo"></span>
            </div>
        </div>
        <div class="form-group row pt-4">
            <label for="inputCpu" class="col-md-2 col-form-label">Cpu</label>
            <div class="col-md-10">
                <select id="inputCpu" asp-for="product.cpuId" class="form-select" asp-items="@(new SelectList(Model.cpu,"id","name"))"></select>
                <div class="text-end">
                    <a class="ml-3" asp-action="addmodel">add a new model</a>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputGpu" class="col-md-2 col-form-label">Cpu</label>
            <div class="col-md-10">
                <select id="inputGpu" asp-for="product.gpuId" class="form-select" asp-items="@(new SelectList(Model.gpu,"id","name"))"></select>
                <div class="text-end">
                    <a class="ml-3" asp-action="addmodel">add a new model</a>
                </div>
            </div>
        </div>
        <div class="form-group row">
                <label for="inputRam" class="col-md-2 col-form-label">Ram</label>
                <div class="col-md-10">
                <select id="inputRam" asp-for="product.ramId" class="form-select" asp-items="@(new SelectList(Model.ram,"id","name"))"></select>
                    <div class="text-end">
                        <a class="ml-3" asp-action="addmodel">add a new model</a>
                    </div>
                </div>
            </div>
        <div class="form-group row">
                <label for="inputHdd" class="col-md-2 col-form-label">Hard Drive</label>
                <div class="col-md-10">
                <select id="inputHdd" asp-for="product.hardDriveId" class="form-select" asp-items="@(new SelectList(Model.hardDrive,"id","name"))"></select>
                    <div class="text-end">
                        <a class="ml-3" asp-action="addmodel">add a new model</a>
                    </div>
                </div>
            </div>

        <div class="mt-1 text-end">
            <input type="hidden" asp-for="product.id" />
            <button class="btn btn-primary col-md-2">Update</button>
            <a asp-action="listofproduct" class="btn btn-info col-md-2">Back</a>
        </div>

    </form>
</div>