@model BstEnvanter.WebUI.Models.UpdateProductAtPersonelViewModel
@{
    ViewData["Title"] = "UpdateProductAtPersonel";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="containter-fluid">
    <div class="jumbotron jumbotron-fluid">
        <h1 class="display-4">Personel Bilgilerini Güncelle</h1>
        <hr />
    </div>
    <div class="row">
        <div class=" border col-md-8 rounded">

            <div class="row bg-primary">
                <h3 class="pt-3 text-light">Ürün Detayları</h3>
            </div>
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <td>Ad:</td>
                        <td>@Model.status.Product.name</td>
                    </tr>
                    <tr>
                        <td>Kategori:</td>
                        @if (Model.status.Product.categoryId != null)
                        {
                            <td>@Model.status.Product.Category.name</td>
                        }
                    </tr>
                    <tr>
                        <td>Marka:</td>
                        @if (Model.status.Product.brandId != null)
                        {
                            <td>@Model.status.Product.Brand.name</td>
                        }
                    </tr>
                    <tr>
                        <td>Model:</td>
                        @if (Model.status.Product.modelId != null)
                        {
                            <td>@Model.status.Product.Model.name</td>
                        }
                    </tr>
                    <tr>
                        <td>Seri Numara:</td>
                        <td>@Model.status.Product.serialNo</td>
                    </tr>
                    <tr>
                        <td>Envanter Numarası:</td>
                        <td>@Model.status.Product.inventoryNo</td>
                    </tr>
                    <tr>
                        <td>İşlemci:</td>

                        @if (Model.status.Product.cpuId != null)
                        {
                            <td>@Model.status.Product.Cpu.name</td>
                        }

                    </tr>
                    <tr>
                        <td>Ekran Kartı:</td>
                        @if (Model.status.Product.gpuId != null)
                        {
                            <td>@Model.status.Product.Gpu.name</td>
                        }
                    </tr>
                    <tr>

                        <td>Ram:</td>
                        @if (Model.status.Product.ramId != null)
                        {
                            <td>@Model.status.Product.Ram.name</td>
                        }
                    </tr>
                    <tr>
                        <td>Sabit Disk:</td>
                        @if (Model.status.Product.hardDriveId != null)
                        {
                            <td>@Model.status.Product.HardDrive.name</td>
                        }
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <form class="col-md-8 my-3" method="post" asp-action="updateproductatpersonel">
        <div class="form-group pt-3">
            <label for="inputDefinition" class="form-label">Açıklama</label>
            <textarea class="form-control" id="inputDefinition" asp-for="status.definition" placeholder="@Model.status.definition" rows="3"></textarea>
            <span class="text-danger" asp-validation-for="status.definition"></span>
        </div>
        <div class="form-group pt-3">
            <label for="inputPersonel" class="form-label">Personel</label>
            <div class="search_select_box">
                <select asp-for="status.personelId" data-size="5" id="inputPersonel" class="col-md-12 form-control border rounded" data-live-search="true" data-live-search-normalize="true">
                    @foreach (var item in Model.personel)
                    {
                        <option value="@item.id">@item.name @item.surname</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group pt-3">
            <label for="inputCampus" class="form-label">Yerleşke</label>
            <select asp-for="status.campusId" id="inputCampus" class="form-select" asp-items="@(new SelectList(Model.campus,"id","name"))"></select>
        </div>
        <div class="mt-1 text-end">
            <input type="hidden" asp-for="status.id" />
            <input type="hidden" asp-for="status.productId" value="@Model.status.productId" />
            <input type="hidden" asp-for="status.dateOfUpdate" value="@DateTime.Today" />
            <input type="hidden" asp-for="status.serviceId" value="@Model.status.serviceId" />
            <button class="btn btn-primary col-md-2">Güncelle</button>
            <a asp-action="listofproductatpersonel" class="btn btn-info col-md-2">Geri</a>
        </div>
    </form>
</div>
