@model BstEnvanter.WebUI.Models.DetailUserViewModel
@{
    ViewData["Title"] = "DetailUser";
    Layout = "~/Views/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="jumbotron jumbotron-fluid">
        <h1 class="display-4">User Detail</h1>
        <hr />
    </div>
    <div class="row">
        <div class="border border-rounded rounded">
            <div class="row bg-primary">
                <h3 class="pt-3 text-light">Personel Details</h3>
            </div>
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <td>Name:</td>
                        <td>@Model.user.name</td>
                    </tr>
                    <tr>
                        <td>Surname:</td>
                        <td>@Model.user.surname</td>
                    </tr>
                    <tr>
                        <td>Age:</td>
                        <td>@Model.user.age</td>
                    </tr>
                    <tr>
                        <td>Gender:</td>
                        <td>@Model.user.gender</td>
                    </tr>
                    <tr>
                        <td>Department:</td>
                        <td>@Model.user.department</td>
                    </tr>
                    <tr>
                        <td>Room No:</td>
                        <td>@Model.user.roomNo</td>
                    </tr>
                    <tr>
                        <td>Title:</td>
                        <td>@Model.user.title</td>
                    </tr>
                    <tr>
                        <td>E-Mail:</td>
                        <td>@Model.user.Email</td>
                    </tr>
                    <tr>
                        <td>Role:</td>
                        @foreach (var item in Model.role)
                        {
                            <td>@item</td>
                        }
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
