@model BstEnvanter.WebUI.Models.ProfileViewModel
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="jumbotron jumbotron-fluid">
        <h1 class="display-4">Profil</h1>
        <hr />
    </div>
    <div class="row">
        <div class="border border-rounded rounded">
            <div class="row bg-primary">
                <h3 class="pt-3 text-light">Kullanıcı Detayı</h3>
            </div>
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <td>Ad:</td>
                        <td>@Model.user.name</td>
                    </tr>
                    <tr>
                        <td>Soyad:</td>
                        <td>@Model.user.surname</td>
                    </tr>
                    <tr>
                        <td>Yaş:</td>
                        <td>@Model.user.age</td>
                    </tr>
                    <tr>
                        <td>Cinsiyet:</td>
                        <td>@Model.user.gender</td>
                    </tr>
                    <tr>
                        <td>Departman:</td>
                        <td>@Model.user.department</td>
                    </tr>
                    <tr>
                        <td>Lokasyon:</td>
                        <td>@Model.user.roomNo</td>
                    </tr>
                    <tr>
                        <td>Ünvan:</td>
                        <td>@Model.user.title</td>
                    </tr>
                    <tr>
                        <td>E-Mail:</td>
                        <td>@Model.user.Email</td>
                    </tr>
                    <tr>
                        <td>Rol:</td>
                        @foreach (var item in Model.role)
                        {
                            <td>@item</td>
                        }
                    </tr>
                </tbody>
            </table>
            <div class="text-end">
                <a class="btn btn-primary" asp-action="updateuser">Güncelle</a>
            </div>
        </div>
    </div>
</div>